<a href="https://colab.research.google.com/github/imagimaniac/Practice_repo/blob/main/Pandas_Assignment_simplilearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the FAA Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: VIew and import the dataset

In [ ]:
#Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
from google.colab import files


uploaded = files.upload()

Saving faa_ai_prelim.csv to faa_ai_prelim (1).csv

In [ ]:
#Import the FAA (Federal Aviation Authority) dataset
faa_df = pd.read_csv("faa_ai_prelim.csv")
faa_df

   UPDATED ENTRY_DATE  ... GRND_INJ_FATAL GRND_INJ_UNK
0       No  19-FEB-16  ...            NaN          NaN
1       No  19-FEB-16  ...            NaN          NaN
2       No  19-FEB-16  ...            NaN          NaN
3       No  19-FEB-16  ...            NaN          NaN
4       No  19-FEB-16  ...            NaN          NaN
..     ...        ...  ...            ...          ...
78      No  08-FEB-16  ...            NaN          NaN
79      No  08-FEB-16  ...            NaN          NaN
80      No  08-FEB-16  ...            NaN          NaN
81      No  08-FEB-16  ...            NaN          NaN
82     Yes  02-FEB-16  ...            NaN          NaN

[83 rows x 42 columns]

#### 2: View and understand the dataset

In [ ]:
#View the dataset shape
faa_df.shape

(83, 42)

In [ ]:
#View the first five observations
faa_df.head(5)

  UPDATED ENTRY_DATE  ... GRND_INJ_FATAL GRND_INJ_UNK
0      No  19-FEB-16  ...            NaN          NaN
1      No  19-FEB-16  ...            NaN          NaN
2      No  19-FEB-16  ...            NaN          NaN
3      No  19-FEB-16  ...            NaN          NaN
4      No  19-FEB-16  ...            NaN          NaN

[5 rows x 42 columns]

In [ ]:
#View all the columns present in the dataset
faa_df.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

#### 3: Extract the following attributes from the dataset:
1. Aircraft make name
2. State name
3. Aircraft model name
4. Text information
5. Flight phase
6. Event description type
7. Fatal flag

In [ ]:
#Create a new dataframe with only the required columns
new_df = faa_df[['ACFT_MAKE_NAME','LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG']]
new_df

    ACFT_MAKE_NAME  LOC_STATE_NAME  ... EVENT_TYPE_DESC FATAL_FLAG
0            BEECH  North Carolina  ...        Accident        Yes
1             VANS         Florida  ...        Incident        NaN
2           CESSNA      New Jersey  ...        Incident        NaN
3          LANCAIR  North Carolina  ...        Incident        NaN
4           CESSNA          Alaska  ...        Incident        NaN
..             ...             ...  ...             ...        ...
78         AERONCA           Texas  ...        Accident        NaN
79  NORTH AMERICAN         Arizona  ...        Accident        Yes
80        CHAMPION      California  ...        Accident        Yes
81           BEECH      California  ...        Accident        Yes
82          CESSNA         Alabama  ...        Accident        Yes

[83 rows x 7 columns]

In [ ]:
new_df.shape

(83, 7)

In [ ]:
#View the type of the object
new_df.dtypes

ACFT_MAKE_NAME     object
LOC_STATE_NAME     object
ACFT_MODEL_NAME    object
RMK_TEXT           object
FLT_PHASE          object
EVENT_TYPE_DESC    object
FATAL_FLAG         object
dtype: object

In [ ]:
#Check if the dataframe contains all the required attributes
print("Data frame is Empty:- ",new_df.empty)
new_df.isnull().sum()

Data frame is Empty:-  False

ACFT_MAKE_NAME      5
LOC_STATE_NAME      0
ACFT_MODEL_NAME     4
RMK_TEXT            0
FLT_PHASE           1
EVENT_TYPE_DESC     0
FATAL_FLAG         75
dtype: int64

#### 4. Clean the dataset and replace the fatal flag NaN with “No”

In [ ]:
#Replace all Fatal Flag missing values with the required output
new_df["FATAL_FLAG"].fillna("No", inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
#Verify if the missing values are replaced
print("Unique Categorical Data in FATAL_FLAG:- ",new_df["FATAL_FLAG"].unique())
new_df.isnull().sum()

Unique Categorical Data in FATAL_FLAG:-  ['Yes' 'No']

ACFT_MAKE_NAME     5
LOC_STATE_NAME     0
ACFT_MODEL_NAME    4
RMK_TEXT           0
FLT_PHASE          1
EVENT_TYPE_DESC    0
FATAL_FLAG         0
dtype: int64

In [ ]:
#Check the number of observations
new_df.shape

(83, 7)

#### 5. Remove all the observations where aircraft names are not available

In [ ]:
#Drop the unwanted values/observations from the dataset
new_df.dropna(inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

#### 6. Find the aircraft types and their occurrences in the dataset

In [ ]:
#Check the number of observations now to compare it with the original dataset and see how many values have been dropped
print("Original shape of Dataset:",faa_df.shape)

print("New shape of Dataset:",new_df.shape)

print("Dropped observations : ", faa_df.shape[0] - new_df.shape[0])

Original shape of Dataset: (83, 42)
New shape of Dataset: (76, 7)
Dropped observations :  7

In [ ]:
#Group the dataset by aircraft name
new_df.groupby("ACFT_MODEL_NAME").size().sort_values(ascending=False)

ACFT_MODEL_NAME
172              4
210              4
36               3
206              3
PA28             3
PA34             3
35               3
150              3
182              2
M20K             2
310              2
8KCAB            2
152              2
PA24             2
O58B             1
M20M             1
M4               1
M20E             1
IV               1
NA265            1
140              1
PA20             1
PA31             1
GC1B             1
PT19             1
RV7              1
RX8              1
S2               1
T34              1
TB21             1
GULFSTREAM200    1
BT15             1
F51              1
ERJ190           1
175              1
180              1
235              1
2T1A             1
33               1
340              1
369              1
47G              1
500              1
55               1
560              1
737              1
747              1
A319             1
AA1              1
CTLS             1
EAGLE II         1
TB9              1
dtype: int64

In [ ]:
#View the number of times each aircraft type appears in the dataset (Hint: use the size() method)

new_df.groupby('ACFT_MAKE_NAME').size().sort_values(ascending=False)

ACFT_MAKE_NAME
CESSNA                    23
PIPER                     10
BEECH                      9
MOONEY                     4
CHAMPION                   2
SOCATA                     2
LANCAIR                    2
BELL                       2
BOEING                     2
MAULE                      1
NORTH AMERICAN             1
AERO COMMANDER             1
PITTS                      1
SAAB                       1
GULFSTREAM                 1
SABRELINER                 1
HUGHES                     1
GLOBE                      1
GRUMMAN                    1
GREAT LAKES                1
AERONCA                    1
FLIGHT DESIGN              1
FAIRCHILD                  1
EMBRAER                    1
CONSOLIDATED VULTEE        1
CHRISTEN                   1
AIRBUS                     1
AEROSTAR INTERNATIONAL     1
VANS                       1
dtype: int64

#### 7: Display the observations where fatal flag is “Yes”

In [ ]:
#Group the dataset by fatal flag
new_df.groupby("FATAL_FLAG").size().sort_values(ascending=False)

FATAL_FLAG
No     69
Yes     7
dtype: int64

In [ ]:
#View the total number of fatal and non-fatal accidents
new_df.groupby("FATAL_FLAG").size().sort_values(ascending=False)

FATAL_FLAG
No     69
Yes     7
dtype: int64

In [ ]:
#Create a new dataframe to view only the fatal accidents (Fatal Flag values = Yes)
Fatal_df = new_df[new_df["FATAL_FLAG"] == 'Yes']
print(Fatal_df.shape)
Fatal_df

(7, 7)

    ACFT_MAKE_NAME  LOC_STATE_NAME  ... EVENT_TYPE_DESC FATAL_FLAG
0            BEECH  North Carolina  ...        Accident        Yes
53           PIPER         Florida  ...        Accident        Yes
55   FLIGHT DESIGN      California  ...        Accident        Yes
79  NORTH AMERICAN         Arizona  ...        Accident        Yes
80        CHAMPION      California  ...        Accident        Yes
81           BEECH      California  ...        Accident        Yes
82          CESSNA         Alabama  ...        Accident        Yes

[7 rows x 7 columns]